body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.logo{
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
}

.subbox{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.subHeader{
    background-color: #1F2937;
    display: flex;
    padding: 80px 0;
    justify-content: center;
    gap: 20px;
}

.subboxA{
    min-width: 385px;
    max-width: 385px;
}

.linkone,
.description
{
    font-size: 18px;
    color: #E5E7EB;
}

.description{
    padding: 10px 0;
}

.firstButton{
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.placeholder{
    min-width: 385px;
    max-width: 385px;
    flex: 1;
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.titleOne{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.titleTwo{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding-bottom: 40px;
}

.square{
    border: 5px solid #007bff;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 100px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 160px;
}

.second{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 40px 100px;
    align-items: center;
}

.quote{
    text-align: justify;
    font-weight: lighter; 
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    min-width: 895px;
    max-width: 895px;
}

.author{
    min-width: 895px;
    max-width: 895px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.third{
    margin: 40px auto;
}

.containerTwo{
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    border-radius: 10px;
    min-width: 800px;
    max-width: 800px;
}

.subBoxB{
    display: flex;
    flex-direction: column;
    color: white;
}

.subboxC{
    display: flex;
    justify-content: flex-end;
}

.secondButton{
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.footer{
    text-align: center;
    background-color: #1F2937;
    color: #fff;
    padding: 40px 0;
}